<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/index.css"%}">
  </head>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome To VenkyJobs</h1>
        <p>For continues updates for every hour....</p>
        <a class="btn btn-primary btn-lg" href="hyderabadjobsview" role="button">Hyd Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="bangalorejobsinfo" role="button">Bangalore Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-primary btn-lg" href="punejobsinfo" role="button">Pune Jobs</a>

      </div>

    </div>
  </body>
</html>
