<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pune Jobs Information</title>
    <link rel="stylesheet" href="{% static "css/pune.css"%}">
  </head>
  </head>
  <body>
    <h1>pune Jobs Information</h1>
    <a href="#"><img src="{%static "images/pune1.jpg"%}" alt="no image"></a>
    <img src="{%static "images/pune2.jpg"%}" alt="no image">
    <img src="{%static "images/pune3.jpg"%}" alt="no image">
      <img src="{%static "images/pune4.jpg"%}" alt="no image">
    <hr style="width:100%;text-align:left;margin-left:0;">
    {% if jobs_list %}
    <table>
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>address</th>
        <th>Email</th>
        <th>Phone number</th>
      </thead>
      {% for job in jobs_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor%}
    </table>
    {%else%}

      <p style="color:red;font-size:5em;text-align:center">No jobs found in Pune..</p>

    {%endif%}
  </body>
</html>
